
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,800');

@font-face{
    font-family: 'welcome';
    src: url('/fonts/Welcome2019.ttf');
}


body{
    color: green;
   font-style: italic;
   width: 100%;
   font-family: 'welcome',sans-serif;
   text-transform: capitalize;
   letter-spacing: 5px;
   
}

header{
    background: lightblue;
    padding: 20px;
    width: 100%;
    /* width: 50vw; */
    /* vw es el tamaño del navegador viewport */
    /* height: 50vh; */
    /* vh altura de la ventana del navegador viewport */
    font-size: 1rem;
    font-weight: 800;
}
section{
    background: lightcoral;
    width: 100%;
}
/* Cancelamos la herencia */
li:first-child a{
    color: inherit;
    font-style: initial;
}
 
li{
    text-decoration: initial;
}

/* Color inicial */
li :last-child a {
    color: initial;
}

li :last-child a {
    color: red;
}

/* Para todas las reglas se usa all:initial o all:inherit */




header li{
    /* font-size: 2em;  Se refiere al tamaño del padre */
    /* font-size: 1rem; Se refiere al tamaño del raiz */
}

p{
    line-height: 25px;
    margin: 10px;
    letter-spacing: 2px;
    padding: 10px;
    font-weight: 700;
    font-family: 'Montserrat';
}