#outer a {
    background-color: red;
  } 
  
  #outer #inner a { 
    background-color: blue;
  }
  
  #outer div ul li a { 
    color: yellow;
  }
  
  #outer div ul .nav a { 
    color: white;
  }
  
  div div li:nth-child(2) a:hover { 
    border: 10px solid black;
  }
  
  div li:nth-child(2) a:hover { 
    border: 10px dashed black;
  }
  
  div div .nav:nth-child(2) a:hover { 
    border: 10px double black;
  }